<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
      <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <span>This site was created by <a 
    class ="link"
    href="https://www.facebook.com/huy.truong.3112001"
    >
    Hung Huy</a>. It uses data from <a 
    class ="link"
    href="https://www.mapbox.com/"
    >
    MapBox</a> and <a 
    class ="link"
    href="https://weatherstack.com/"
    >
    weatherstack</a></span>
    <img 
    class="about_image"
    src="/img/img1.png" id="image1" />
    </div>
   
    {{>footer}}

  </body>
</html>