<html lang="en">

<head>
  <link rel="stylesheet" href="/css/styles.css" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weather</title>
  <link rel="icon" href="/img/weather.png">
</head>


<body>
  <div class="main-content">
    {{>header }}
    <p id="test">Use this site to get your weather!

    </p>
    <form>
      <input type="text" placeholder="Type your address here!" id="inputAddress" />
      <button id="searchButton">Search</button>
    </form>
    <h3>or</h3>
    <div class="row">
      <div>
        <p>Click this button</p>
      </div>
      <div
       class="item2">
        <button id="getWeather">Get Weather</button>
      </div>
  
    </div>
    <div>
      <p id="title"></p>
      <p id="result"></p>
    </div>


    <img id="weather_icon_img">

  </div>
  {{>footer}}
  <script src="/js/script.js"></script>

</body>

</html>